@use './variables' as *;


//mobile responsive mixin
@mixin mobile {
    @media (min-width: $mobile-width) {
        @content;
    }
}

//tablet responsive mixin
@mixin tablet {
    @media (min-width: $tablet-width) {
        @content;
    }
}

//desktop responsive mixin
@mixin desktop {
    @media (min-width: $desktop-width) {
        @content;
    }
}

@mixin bold-labels {
    font-weight: 550;
    font-size: 1rem;
}

@mixin link-hover{
    font-weight: 700;
    color: #40e0d0;    
}