
//color variables
$accent: slategrey;
$bright-purple:#bd4ee9;
$grey-purple: rgb(82, 67, 88);
$light-grey-purple: rgba(252, 249, 253, 0.932);
$higlighter: #40e0d0;

//responsive breakpoint variables
$desktop-width: 1280px;
$tablet-width: 768px;
$mobile-width: 320px;

//fonts
$regular-font: 1.25rem;
$small-font: 1rem;
