// @use 

.header{
    display: flex;
    flex-direction: row;
    background-color: rgb(129, 87, 133, 0.75);
    // background: conic-gradient(#bd4ee9, #40e0d07a) ;
    // background: radial-gradient(#331358, #bd4ee9, #bd4ee9);
    // background: repeating-radial-gradient(#000000, #bd4ee9, #000000, #fcf9fdee .01px);

    // background-color: rgb(11, 228, 199);
    color: white;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
    
&__left-div{
    padding: 0 10rem 0 2rem;
}

&__title{
    color: black;
    padding: .5rem;
 }

&__subtitle{
    padding: .5rem;   
}

&__navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 1rem;
}
&__text{
    padding: .5rem;

   
}
 &__text:hover{
        font-weight: 700;
        color: #40e0d0;
    }






}

