@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;

* {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    
  }

.home {
    // background-color: black;
    // color: white;
    height: 100vh;
    margin: 0;

    @include tablet{
    padding: 5rem 10rem;
    }
    
    &__about {
        background: $light-grey-purple;
        border: solid lightgrey .25rem;
        border-radius: .35rem;
        
        margin: 1rem 0;
        padding: 1rem 2rem;
        width: 20rem;

        @include tablet{
            width: 40rem
        }

    }

    &__title{
        color: $grey-purple;
        // color: rgb(82, 67, 88);
    }
    &__body-text{
        font-weight: 400;
        font-size: 1.25rem;
    }

    &__contact{
        margin: 1rem 0;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;

        @include tablet{
            width: 40rem
        }
    }
    // &__title{}
    &__contact-form{
        display: flex;
        flex-direction: column;
    }
    // &__label{}
    // &__email{}
    // &__message{}
    &__btn-group{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }
    &__button{
        padding: .5rem 2rem;
        font-size: $regular-font

    }
    // &__email-link{}
    // &__email-link:hover{}
}